.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 16px);
    max-width: 300px;
    height: 350px;
    margin: 8px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 65%;
    padding-left: 60px;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 4px;
}

.book-card .book-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    color: #007bff;
}

.favorite-icon-active
{
    width: 20px;
    height: 20px;
}

.book-card .book-subtitle, .book-card .book-author, .book-card .book-price, .book-card .book-rating {
    padding-top: 10px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

.book-card .book-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #28a745;
}

.book-card .book-rating {
    color: #ffa500;
}

.favorite-icon img {
    width: 20px;
    height: 18px;
    margin-left: 225px;
    filter: grayscale(100%);
    transition: filter 0.2s;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 16px);
    max-width: 300px;
    height: 350px;
    margin: 8px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 65%;
    padding-left: 60px;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 4px;
}

.book-card .book-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    color: #007bff;
}

.favorite-icon-active
{
    width: 20px;
    height: 20px;
}

.book-card .book-subtitle, .book-card .book-author, .book-card .book-price, .book-card .book-rating {
    padding-top: 10px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

.book-card .book-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #28a745;
}

.book-card .book-rating {
    color: #ffa500;
}

.favorite-icon img {
    width: 20px;
    height: 18px;
    margin-left: 225px;
    filter: grayscale(100%);
    transition: filter 0.2s;
}

.favorite-icon {
    margin-left: auto;
    cursor: pointer;
}

.favorite-icon img.favorite-icon-active {
    filter: none;
    color: red;
}


